.App {
  text-align: center;
  min-height: 100vh;
  background-color: rgb(56, 57, 92);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.afterBoard p {
  font-size: 2em;
}

.afterBoard p .fas {
  margin-right: 10px;
}
